.git
.gitignore
.vs
**/bin
**/obj
**/node_modules
**/.angular
**/dist
**/coverage
**/*.user
**/*.suo
**/*.log
tmp-*
admin-portal-dev.log
resident-portal-dev.log
resident-portal-dev.err.log
api-dev.log
src/API/logs
VotacionesResidenciales.slnLaunch.user
src/API/appsettings.Local.json
src/API/appsettings.*.local.json
